@model OrderhistoryVM
@section CSS{

    <style>.container{
    min-height:500px;
    }
        </style>
}
<div class="container">
@foreach (var orderId in Model.OrderHej)
{

    var hejhej = orderId;
    <div>
        <h2>Order: @orderId</h2>

        <ul>
            @foreach (var item in Model.Historik)
            {
                @if (hejhej == item.OrderId)
                {
                    <li>
                        @item.Antal st
                        @item.ArtikelNamn
                        <br/>
                        Pris: @Model.getPriceFormatted(@item.Pris) kr
                    </li>
                    <br/>
                    @*<div>
                    <strong>Totalsumma:  @Model.Historik.Where(o => o.OrderId == hejhej).Select(o => o.Pris).Sum()</strong>  
                    </div>*@

                }
            }
        </ul>
        
                    <div>
                    <strong>Totalsumma:  @Model.getPriceFormatted(@Model.Historik.Where(o => o.OrderId == hejhej).Select(o => o.Pris).Sum()) kr</strong>  
                    </div
    </div>
}
</div>