<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("CSS", false)
    @RenderSection("JS", false)
</head>
<body>
	@Html.Partial("_Navbar")
	<div>
		@RenderBody()
	</div>
	@Html.Partial("_Footer")
</body>
</html>
