@model DetailsVM

@section CSS
{
    <style>
.grid-container {
    width: 300px;
  display: grid;
  column-gap: 0px;
  grid-template-columns: auto auto;
  background-color:rgb(255,255,255);
  padding: 1px;
}

.grid-item {
    width: 300px;
  background-color: rgb(255,255,255);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  font-size: 15px;
  text-align: center;
}
</style>
}
<div>
    <h1>@Model.Artikelnamn</h1>
    <h2>@Model.Pris kr</h2>
</div>

    <input type="text" id="Antalvaror" />
<input type="button" value="Lägg i varukorgen" onclick="GetHtml(document.getElementById('AntalVaror').value)" />


  <div class="grid-container">

    <div class="grid-item">ArtikelNr</div> 
    <div class="grid-item">@Model.Artikelnr</div> 
    <div class="grid-item">Hästkrafter</div> 
    <div class="grid-item">@Model.Hästkrafter</div> 
    <div class="grid-item">Trädensitet</div> 
    <div class="grid-item">@Model.Trädensitet cm3</div> 
    <div class="grid-item">Material</div> 
    <div class="grid-item">@Model.Material</div> 
    

  </div>



<div id="description">
    <h1>Beskrivning</h1>
    <span>@Model.Beskrivning</span>

</div>

@*@Model.Artikelnr*@

@*Artnr
51432
Hästkrafter
250 hk
Trädensitet
200g/cm3
Material
Ek
Typ
Fritid
Tillverkningsland
USA
ABS broms
Ja*@