@model HoldYourHorses.Views.Sticks.IndexVM
@{
    var nfi = (System.Globalization.NumberFormatInfo)System.Globalization.CultureInfo.InvariantCulture.NumberFormat.Clone();
    nfi.NumberGroupSeparator = " ";
}
@section CSS{
     <link rel="stylesheet" href="~/CSS/Index.css">
     <link rel="stylesheet" href="~/CSS/filter.css">
}
@section JS{
     <script src="~/JS/index.js" defer></script>
}
    <div class="super-container">
      <div class="filter">
          <div class="filter-price">
          <div class="slider-super-container">
               <p class="p-filter">Pris</p>
          <div class="range_container">
             <div class="sliders_control">
                 <input id="fromSlider" type="range" value="0" min="0" max="100"/>
                <input id="toSlider" type="range" value="100" min="0" max="100"/>
            </div>
            <div id="min-int" class="form_control_container">
                <div   class="form_control_container__time">Min</div>
                <input class="form_control_container__time__input" type="number" id="fromInput" value="0" min="0" max="100"/>
            </div>
            <div  id="max-int" class="form_control_container">
                <div class="form_control_container__time">Max</div>
                <input class="form_control_container__time__input" type="number" id="toInput" value="100" min="0" max="100"/>
            </div>
            </div>
    </div>
    </div>
              <div class="filter-hk">
          <div class="slider-super-container">
               <p class="p-filter">Hästkrafter</p>
          <div class="range_container">
             <div class="sliders_control">
                 <input id="fromSliderHK" type="range" value="0" min="0" max="100"/>
                <input id="toSliderHK" type="range" value="100" min="0" max="100"/>
            </div>
            <div id="min-int" class="form_control_container">
                <div   class="form_control_container__time">Min</div>
                <input class="form_control_container__time__input" type="number" id="fromInputHK" value="0" min="0" max="100"/>
            </div>
            <div  id="max-int" class="form_control_container">
                <div class="form_control_container__time">Max</div>
                <input class="form_control_container__time__input" type="number" id="toInputHK" value="100" min="0" max="100"/>
            </div>
            </div>
    </div>
    </div>

    <div class="kategori-container">
        <p class="p-filter">Kategori</p>
        <div class="checkboxes">
            @foreach (var item in @Model.Typer)
            {
                 <input type="checkbox" class="kategori" id="@item" name="@item" checked> <label for="@item">@item</label>
            }
          </div> 
    </div>
      <div class="material-container">
        <p class="p-filter">Material</p>
        <div class="checkboxes">
            <input type="checkbox" class="material" id="ek" name="ek" checked> <label for="ek">ek</label></div>
    </div>

    <div class="filter-btn-div">
        <button class="btn">Återställ filtrering</button>
    </div>
</div>
      <div class="main-div">
        <h1 id="Norden">Nordens största butik för käpphästar</h1>
        <div class="card-container">
        @foreach (var card in @Model.Cards)
        {
            <a href="Product/@card.ArtikelNr">
          <div class="article-card">
            <img
              src="https://www.hooks.se/pub_images/original/940005-11_1.jpg?extend=copy&width=1024&method=fit&height=1024&type=webp&timestamp=1634910071"
              alt="@card.Namn"
            />
            <p class="name">@card.Namn</p>
            <div class="arrow-div">
              <div class="price"><span class="price-span"> @card.Pris.ToString("#,0", nfi) kr</span></div>
              <div class="arrow-right"></div>
            </div>
          </div>
          </a>
        }
            </div> 
      </div>
    </div>