@model HoldYourHorses.Views.Sticks.IndexVM
@section CSS{
     <link rel="stylesheet" href="~/CSS/Index.css">
     <link rel="stylesheet" href="~/CSS/filter.css">
}
@section JS{
     <script src="~/JS/index.js" defer></script>
}
    <div class="super-container">
      <div class="filter">
          <div class="filter-price">
          <div class="slider-super-container">
               <p class="p-filter">Pris</p>
               <div class="min-max-slider">
                   <div id="min-int" class="form_control_container">
                <div   class="form_control_container__time">Min</div>
                <input class="form_control_container__time__input" type="number" id="fromInput" value="@Model.PrisMin" min="@Model.PrisMin" max="@Model.PrisMax"/>
            </div>
          <div class="range_container">
             <div class="sliders_control">
                 <input id="fromSlider" type="range" value="@Model.PrisMin" min="@Model.PrisMin" max="@Model.PrisMax"/>
                <input id="toSlider" type="range" value="@Model.PrisMax" min="@Model.PrisMin" max="@Model.PrisMax"/>
            </div>

            </div>
            
            <div  id="max-int" class="form_control_container">
                <div class="form_control_container__time">Max</div>
                <input class="form_control_container__time__input" type="number" id="toInput" value="@Model.PrisMax" min="@Model.PrisMin" max="@Model.PrisMax"/>
            </div>

            </div>
    </div>
    </div>
              <div class="filter-hk">
          <div class="slider-super-container">
               <p class="p-filter">Hästkrafter</p>
               <div class="min-max-slider">
                   <div id="min-int" class="form_control_container">
                <div   class="form_control_container__time">Min</div>
                <input class="form_control_container__time__input" type="number" id="fromInputHK"value="@Model.HästkrafterMin" min="@Model.HästkrafterMin" max="@Model.HästkrafterMax"/>
            </div>
          <div class="range_container">
             <div class="sliders_control">
                 <input id="fromSliderHK" type="range" value="@Model.HästkrafterMin" min="@Model.HästkrafterMin" max="@Model.HästkrafterMax"/>
                <input id="toSliderHK" type="range" value="@Model.HästkrafterMax" min="@Model.HästkrafterMin" max="@Model.HästkrafterMax"/>
            </div>
            </div>
            <div  id="max-int" class="form_control_container">
                <div class="form_control_container__time">Max</div>
                <input class="form_control_container__time__input" type="number" id="toInputHK"  value="@Model.HästkrafterMax" min="@Model.HästkrafterMin" max="@Model.HästkrafterMax"/>
            </div>
             </div>
    </div>
    </div>

    <div class="kategori-container">
        <p class="p-filter">Kategori</p>
        <div class="checkboxes">
            @foreach (var item in @Model.Typer)
            {
                 <input type="checkbox" class="kategori" id="@item" name="@item" value="@item" checked> <label for="@item">@item</label>
            }
          </div> 
    </div>
      <div class="material-container">
        <p class="p-filter">Material</p>
        <div class="checkboxes">
                        @foreach (var item in @Model.Materialer)
            {
                 <input type="checkbox" class="material" value="@item" id="@item" name="@item" checked> <label for="@item">@item</label>
            }
    </div>


</div>
    <div class="filter-btn-div">
        <button class="btn">Återställ filtrering</button>
    </div>
    </div>
      <div class="main-div">
        <h1 id="Norden">Nordens största butik för käpphästar</h1>
        <div id="MySelect">
            <select name="sort" id="sort">
                <option value="1Pris">Pris Stigande</option>
                <option value="0Pris">Pris Fallande</option>
                <option value="1Namn">Namn (A-Ö)</option>
                 <option value="0Namn">Namn (Ö-A)</option>
            </select>
            </div>
        <div class="card-container">

            </div> 
      </div>
    </div>